/* CSS Document */

#nav1 { 
		height:80px; 
		list-style:none;}
#nav1 li { 
			float:left;
			background:url(../images/%E6%8C%89%E9%92%AE1.png);
			
			width:144px;
			height:80;
			display:inline;}
#nav1 li a{ 
			 display:block; 		
			 height:80px; 
			 text-align:left;}
#nav1 li a:hover{
			background:url(../images/%E6%8C%89%E9%92%AE1%EF%BC%881%EF%BC%89.png);
		


			}
	
	
